<head>Mitchell's Resume</head>
<html>
    <body>
        <h1>Behold, Mitchell's Resume!</h1>
        <h4>Websites:</h4>
        <a href="https://github.com/mtkane6">GitHub &nbsp &nbsp</a><a href="https://www.linkedin.com/in/mitchell-kane-954709b3/">LinkedIn</a>
        <h2>Technical Experience</h2>
            <h3>Programming Environments</h3>
            {{ range .Prog }}
                <ul>• {{ .Env }}</ul>
            {{ end }}
            <h3>Mathematics</h3>
            {{ range .Mathexp }}
                <ul>• {{ .Math }}</ul>
            {{ end }}
        <h2>Professional Experience</h2>
        {{ range .Prof }}
            <i>{{ .Company }}: {{ .Dates }}</i>
           {{ range .Duties }}
                <ul>• {{ . }}</ul>
           {{ end }}
        {{ end }}
        <h2>Education</h2>
        {{ range .Educ }}
            <p><i>{{ .School }}</i>: {{ .Topics }} {{ .Dates }}</p>
        {{ end }}
    </body>
</html>